@{
    ViewData["Title"] = "Home Page";
}
@* specify view model from where we are getting data: *@
@model string

<div class="text-center">
    <div class="d-flex justify-content-center">
        <a href="/">Message</a>
        <span>|</span>
        <a href="/numbers">Numbers</a>
        <span>|</span>
        <a href="/user">User</a>
        <span>|</span>
        <a href="/users">Users</a>
    </div>
    <h1 class="display-4">Hello!</h1>
    <h3> Here is a message:</h3>
    <p>@Model</p>
</div>
