
<div class="d-flex justify-content-center">
    <a href="/">Message</a>
    <span>|</span>
    <a href="/numbers">Numbers</a>
    <span>|</span>
    <a href="/user">User</a>
    <span>|</span>
    <a href="/users">Users</a>
</div>

@model User
<div class="text-center">
    <h1>Here is one User:</h1>
    <h3> @Model.FirstName @Model.LastName</h3>
</div>